:root {
  --bg-color-transition: background-color 0.5s ease;
}

@font-face {
  font-family: "GowunDodum";
  font-weight: 400;
  src: url("https://haru-camping-chat-s3.s3.ap-northeast-2.amazonaws.com/GowunDodum-Regular.ttf");
}

body {
  font-family: GowunDodum, sans-serif;
}
